.file-explorer {
    display: flex;
    height: 100vh;
}
  
.file-explorer__sidebar {
    width: 16rem;
    border-right: 1px solid #e5e7eb;
}

.file-explorer__sidebar-content {
    padding: 0.5rem;
}

.file-explorer__content {
    flex: 1;
    padding: 1rem;
}

.file-explorer__content-text {
    font-size: 0.875rem;
}

.file-explorer__title {
    text-transform: uppercase;
    padding-left: 8px;
}
  
.item--selected {
    border: 1px solid #0aaceb;
    background-color: #37373d;
    box-shadow: 0 4px 6px rgba(10, 172, 235, 0.5), 0 1px 3px rgba(10, 172, 235, 0.3);
}